* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: rgb(127, 147, 228);
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: rgb(21, 131, 145);
  }
  
  .header h1 {
    font-size: 30px;
    
  }
  .header h2 {
    font-size: 20px;
    color: blue
    
  }
  .registrationBox {
    background-color: rgb(175, 226, 229);
    border-left: 15px solid rgb(67, 166, 205);
    padding: 4px;
    font-size: 10px;
   
  }
  div.sticky {
    position: sticky;
    top: 0;
    padding: 0;
    border: 2px solid #8461d4;
  
  }
/* Style the top navigation bar */
.topnav {
  
  overflow: hidden;
  background-color: rgb(30, 8, 51);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav p {
    float: right;
    display: block;
    color: blue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
/* Left and right column */
  
  /* Middle column */
  div.middlecolumn {
    position: relative;
    left: 25%;
    float: center;
    width: 50%;
  }
  
  
  /* Footer */
  .footer {
  
    padding: 20px;
    text-align: center;
    border-top:gray;
    background: white;
    margin-top: 20px;
  }
  div.relative{
    position: relative;
    overflow: hidden;
    background-color: lightblue;
    left: 0px;
    top: 1px;
}
  #label{
    margin-top: 15px;
    border-left: 10px solid aqua;
    padding-left: 1px;
    color: black;
}
.button{ 
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: white;
}
div.section
{
  border-bottom: double;
  padding: 10px;
}
td{
  background-color: rgb(232, 232, 158);
}
.submit{
    background-color: rgb(19, 107, 195);
    color: black;
    
}
.reset{
    background-color: rgb(19, 107, 195);
    color: black;
    
}
.container{
margin-left: 500px;
}
/* jquery */
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}

/* cart */



