.box{
    width:400px;
    height:400px;
    border:2px grey solid;
    margin:auto;
    position:relative;
    left:15px;
    top:10px;

  
}
a{
    width:100%;
    font-size:30px;
    background-color: rgba(0,0,0,0.6);
    color:white;
    position:absolute;
    left:0px;
    bottom:-40px;
    opacity: 0;
    transition: 1;
    text-decoration: none;
    text-align: center;

}
.box:hover a{
    bottom:0px;
    opacity: 1;
}
.box1:hover a{
    bottom:0px;
    opacity: 1;
}
.box2:hover a{
    bottom:0px;
    opacity: 1;
}
.box3:hover a{
    bottom:0px;
    opacity: 1;
}
.box1{
    width:400px;
    height: 400px;
    height:400px;
    border:2px grey solid;
    position:relative;
    left:130px;
    top:-392px;
   
}
.box2{
    width:400px;
    height: 400px;
    height:400px;
    border:2px grey solid;
    position:relative;
    left:1000px;
    top:-798px;
   
  
}
.box3{
    width:400px;
    height: 400px;
    height:400px;
    border:2px grey solid;
    position:relative;
    left:1000px;
    top:-700px;
   
  
}



div {
  /* border: 1px solid gray; */
  /* padding: 8px; */
  width:860px;
  height: 390px;
  position:relative;
  /* border:2px grey solid;
  position:relative; */
  left:130px;
  top:-1180px;
 
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #232423;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color:white;
}